@import "../../../../variables.module.scss";
.container {
  display: flex;
  background-color: $bg-lightgray;
  width: 100%;
  & .column {
    display: flex;
    flex-direction: column;
    background-color: $bg-lightgray;

    @media screen and (min-width: 1400px) {
      width: 82.92%;
    }
  }
}
