@import "../../../../../variables.module.scss";
@import "../../../../../colors.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 48px 8px 48px;
  flex-direction: column;
  align-items: center;
  background-color: $bg-lightgray;
  gap: 8px;
  color: $text-dark;
  min-width: 1194px;

  .petTitle {
    display: flex;
    gap: 24px;
    padding: 0px 16px 0 16px;
    margin-top: 16px;
    height: 40px;
    align-items: center;

    .photoTitle {
      width: 92px;
    }

    .detailsTitle {
      width: 176px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .petLine {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 16px;
    height: 124px;
    overflow: hidden;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    width: 1098px;
  }
  .photoContainer {
    flex-shrink: 0;
    min-width: 92px;
  }

  & .photo {
    width: 92px;
    height: 92px;
    border-radius: 8px;
  }

  & .basicInfo {
    width: 120px;
  }

  & .detailsInfo {
    max-height: 26px;
    width: 269px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .detailsInfoBlock {
    width: 269px;
  }

  .iconsContainer {
    width: 76px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-shrink: 0;
  }

  & .create_icon {
    cursor: pointer;
    font-size: 32px;
  }

  & .trash_icon {
    cursor: pointer;
    font-size: 32px;
    fill: rgba(0, 0, 0, 0.85);
  }
}
