@import '../../../app/[locale]/colors.scss';

.languageMenu {
  display: flex;
  align-items: center;
  background-color: $primary;
  color: $text-white;
  text-transform: uppercase;
  justify-content: space-between;
  min-width: 24px;
  max-width: 73px;
  position: relative;
  text-align: center;
  gap: 4px;

  .languageList {
    position: absolute;
    list-style-type: none;
    bottom: 0px;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
      background-color: $primary;
      width: 100%;
      padding-bottom: 5px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .languageItem {
      padding-top: 5px;

      &:first-child {
        padding-top: 17px;
      }

      &:hover {
        color: $button-default;
      }
    }
  }
}

// .icon {
//   padding: 8px 6px 8.571px 5px;
// }
