$mobile_subtitle_1: 20px;
$mobile_text_3: 14px;
$mobile_button_1: 18px;
$mobile_button_2: 16px;
$desktop_subtitle_2: 24px;
$desktop_text_4: 16px;
$desktop_button_2: 18px;

.accessMenuBlock {
    align-items: center;
    display: flex;
    min-width: 320px;
    gap: 16px;
    height: fit-content;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color:#EADEFF;

    




    //max-width: 1440px;
    height: 145px;
    padding: 0px, 135px, 0px, 135px;
    justify-content: center;
    gap: 30px;
}
.accessMenuItem {
    background-color: #4D396F;
    width: 270px;
    border-radius: 20px;
        & .title {
            color:#FFFFFF;
            font-family: 'Manrope'; //add font
            font-size: 24px;
            font-weight: 700;
            line-height: 31.2px;  
        }
        & .message {
            color:#FFFFFF;
            font-family: 'Manrope';
            font-size: 16px;
            font-weight: 300;
            line-height: 20.8px;    
        }
        & .details {
            color:#FFFFFF;
            font-family: 'Manrope';
            font-size: 16px;
            font-weight: 300;
            line-height: 20.8px;  
        }
        & .iconSrc { //не застосувалось
            padding: 12px, 0px, 12px, 0px;
        }

}

        & .accessMenuItem {
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            background-color: #4D396F;
            width: 288px;
            height: 132px;
            border-radius: 4px;

            @media screen and (min-width: 321px) and (max-width: 1199px) {
                border-radius: 4px;
            }
            @media screen and (min-width: 1200px) {
                border-radius: 20px;
            }
                & .title {
                    font-size: $mobile_subtitle_1;
                    color:#FFFFFF;
                    font-weight: 700;
                    line-height: 26px;


                    @media screen and (min-width: 321px) and (max-width: 1199px) {
                        font-size: $desktop_subtitle_2;
                        font-weight: 700;
                        line-height: 31.2px; 
                    }
                    @media screen and (min-width: 1200px) {
                        font-size: $desktop_subtitle_2;
                        font-weight: 700;
                        line-height: 31.2px; 
                    }

                }
                & .message {  
                    font-size: $mobile_text_3;
                    color:#FFFFFF;
                    font-weight: 400;
                    line-height: 18.2px;

                    @media screen and (min-width: 321px) and (max-width: 1199px) {
                    font-size: $desktop_text_4;
                    font-weight: 300;
                    line-height: 20.8px; 
                    }
                    @media screen and (min-width: 1200px) {
                    font-size: $desktop_text_4;
                    font-weight: 300;
                    line-height: 20.8px; 
                    }
                }
                & a {
                    display: flex;
                    border: 2px solid transparent;
                    background-color: transparent;
                    justify-content:space-between;
                    width: 124px;
                    height: 24px;
                    text-decoration: none;

                    @media screen and (min-width: 321px) and (max-width: 1199px) {
                        width: 136px;
                        height: 24px;
                        }
                        @media screen and (min-width: 1200px) {
                            width: 136px;
                            height: 24px;
                        }
                }             
    }
///
/// 
& .iconSrc { //не застосувалось
    padding: 12px, 0px, 12px, 0px;
}
& .accessMenuItem {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #4D396F;
    width: 288px;
    height: 132px;
    border-radius: 4px;

    @media screen and (min-width: 321px) and (max-width: 1199px) {
        border-radius: 4px;
    }
    @media screen and (min-width: 1200px) {
        border-radius: 20px;
    }
        & .title {
            font-size: $mobile_subtitle_1;
            color:#FFFFFF;
            font-weight: 700;
            line-height: 26px;


            @media screen and (min-width: 321px) and (max-width: 1199px) {
                font-size: $desktop_subtitle_2;
                font-weight: 700;
                line-height: 31.2px; 
            }
            @media screen and (min-width: 1200px) {
                font-size: $desktop_subtitle_2;
                font-weight: 700;
                line-height: 31.2px; 
            }

        }
        & .message {  
            font-size: $mobile_text_3;
            color:#FFFFFF;
            font-weight: 400;
            line-height: 18.2px;

            @media screen and (min-width: 321px) and (max-width: 1199px) {
            font-size: $desktop_text_4;
            font-weight: 300;
            line-height: 20.8px; 
            }
            @media screen and (min-width: 1200px) {
            font-size: $desktop_text_4;
            font-weight: 300;
            line-height: 20.8px; 
            }
        }
        & a {
            display: flex;
            border: 2px solid transparent;
            background-color: transparent;
            justify-content:space-between;
            width: 124px;
            height: 24px;
            text-decoration: none;

            @media screen and (min-width: 321px) and (max-width: 1199px) {
                width: 136px;
                height: 24px;
                }
                @media screen and (min-width: 1200px) {
                    width: 136px;
                    height: 24px;
                }
        }             
}
