@import '../../../../app/[locale]/variables.module.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 48px 8px 48px;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-lightgray;
    gap: 24px;
    padding: 0 16px 0 16px;
        & .photo {
            width: 92px;
        }
        & .name {
            width: 150px;
        }
        & .discribtion {
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 92px;
            width: 326px;
        }
        & .story {
            width: 201px;
        }
        & .filter {
            text-align: end;
            color: $button-default;
            width: 137px;
        }
        & .icon {
            margin: 8px 6px 8.57px 13px;
            width: 13px;
        }
        & .create_icon{
            cursor: pointer;
            font-size:  32px;
            margin-right: 12px;
        }
        & .trash_icon{
            cursor: pointer;
            font-size: 32px;
        }
}
.font {
    color: #3A3345;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.flex {
    display: flex;
    align-items: center;
}
.white {
    background-color: $bg-white;
    border-radius: 8px;
    padding: 16px;
}
.story_details {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 92px;
    width: 326px;
}
.font_details {
    @extend .font;
    font-weight: 500;

}
.font_name {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
}