@import "../../../../variables.module.scss";

.active {
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 0.5) 21.55%,
    rgba(190, 190, 190, 0) 88.74%
  );
  backdrop-filter: blur(43.79999923706055px);
}
.container {
  min-width: 246px;
  min-height: 960px;
  height: fit-content;
  background-color: $bg-dark;
  & .logo_name {
    width: 100%;
    padding: 21px 27px;
    border-bottom: 1px solid $button-disabled;
  }
  & .aside_menu {
    width: 100%;
    padding-top: 24px;
  }
  & .settings {
    width: 100%;
    padding-top: 32px;
  }
  & .log_out {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 24px;
  }
}

.wrapper {
  color: $button-disabled;
  &:hover {
    @extend .active;
    color: $text-white;
    transition: color 0.3s ease-in-out;
  }

  &:hover .title {
    color: $text-white;
    transition: color 0.3s ease-in-out;
  }
}
.item_logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
.item_header {
  padding: 10px 10px 10px 32px;
  color: $button-disabled;
}
.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 10px 16px 32px;
}
.header {
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}
.title {
  cursor: pointer;
  color: $button-disabled;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.logo_title {
  cursor: pointer;
  width: 142px;
  text-align: center;
  color: $button-default;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}

.logo {
  cursor: pointer;
  font-size: 46px;
}

.icon {
  fill: currentColor;
  cursor: pointer;
  font-size: 24px;
}

.nestedStyle {
  gap: 8px;
  padding: 12px 72px 12px 72px;
  display: flex;
  flex-direction: column;
  background-color: $bg-dark;
  color: $button-disabled;
  & li {
    border-bottom: 2px solid transparent;
    &:hover {
      color: $text-white;
      border-bottom: 2px solid $button-default;
      width: fit-content;
      transition: color 0.3s ease-in-out;
    }
  }
}
.icon_shevronDown {
  fill: currentColor;
  width: 13px;
  fill: currentColor;
  cursor: pointer;
  margin-left: 5px;
}

@media screen and (min-width: 1441px) {
  .container {
    width: 23%;
  }

  .title {
    font-size: clamp(20px, calc(1rem + 0.3vw), 24px);
  }

  .logo_title {
    font-size: clamp(20px, calc(1rem + 0.3vw), 24px);
  }

  .logo_name {
    min-height: 94px;
  }

  .header {
    font-size: clamp(14px, calc(0.875rem + 0.3vw), 18px);
  }

  .logo {
    font-size: clamp(46px, calc(1rem + 2vw), 50px);
  }

  .icon {
    font-size: clamp(24px, calc(1rem + 0.3vw), 28px);
  }

  .item_logo {
    gap: 4%;
  }
}

@media screen and (min-width: 1920px) {
  .logo_title {
    width: 160px;
  }
}
