.history {
}

.imgOuterWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.imgInnerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.historyMob {
}

.historyTab {
}

.historyDesk {
}
