.swiper {
  width: 100%;
  height: 100%;

  .swiperSlide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  .img {
    display: block;
    width: 100%;
    height: auto;
  }
}
