.swiper {
  width: 100%;
  height: 100%;

  .swiperSlide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
}

.img {
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 356px;

  @media screen and (min-width: 768px) {
    height: auto;
  }
}

.imgMissionMob {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.imgMissionTab {
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.imgMissionDesk {
}
