@import "/app/[locale]/colors.scss";

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .title {
    color: $button-default;
    text-align: center;
  }

  .languageSwitcher {
    display: flex;
    gap: 30px;
    background-color: rgba(77, 57, 111, 0.04);
    border-radius: 10px;

    & button {
      width: 50%;
      text-align: center;
      padding: 12px;
    }

    .selectedLanguage {
      border-bottom: 2px solid $button-default;
    }
  }

  .languageSwitcher.ua {
    border-radius: 10px 10px 10px 0px;
  }

  .languageSwitcher.en {
    border-radius: 10px 10px 0px 10px;
  }