@import '../../app/[locale]/colors.scss';

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 16px;
  flex-grow: 1;
  min-height: 54vh;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  flex-grow: 1;
  padding-right: 10px;

  .cardContainer {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    width: auto;
    grid-auto-rows: min-content;

    @media (min-width: 768px) {
      width: 343px;
    }

    @media (min-width: 1200px) {
      width: 370px;
    }

    .cardImage {
      grid-column: 2;
      width: 100%;
      background-color: $bg-purple;
      // aspect-ratio: 1;

      & img {
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cardName {
      grid-column: 2;
      grid-row: 2;
      transform: translate(-20px, -40px);
      padding: 25px 29px;
      width: 100%;
      overflow: hidden;
      text-wrap: nowrap;
      height: 74px;
      color: #fff;
      background-color: $button-dark-default;
      text-align: center;
      text-overflow: ellipsis;
      border-radius: 4px;
      z-index: 1;
    }

    .contentHolder {
      height: 273px;
      grid-column: 2;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 16px 8px 16px;
      gap: 8px;
      background-color: $bg-purple;
      border-radius: 4px;
      overflow: hidden;

      .cardDesc {
        color: $text-dark;
        border-radius: 4px 4px 0 0;
        // margin-bottom: 10px;
        overflow: hidden;
        width: 100%;
        padding: auto;
        max-height: 147px;
      }

      .cardButton {
        background-color: $button-dark-default;
        color: #fff;
        width: 100%;
        padding: 10.5px 12px;
        border-radius: 0 0 4px 4px;
        transition: background-color 0.5s ease-in-out;

        &:hover,
        &:focus {
          background-color: $button-dark-hover;
        }
      }

      .cardLink {
        font-weight: 800;
        align-self: flex-end;
        margin-top: auto;
        transition: color 0.5s ease-in-out;

        &:hover,
        &:focus {
          color: $button-hover;
        }
      }
    }
  }

  // .modalContentContainer {
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  //   overflow: auto;
  //   width: 100vw;
  //   height: 90dvh;
  //   position: fixed;
  //   left: 0px;
  //   top: 60px;
  //   z-index: 1000;
  //   overscroll-behavior-y: none;
  // }

  .modalContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000;
    overflow: auto;
  }

  .modalContainer {
    // position: relative;
    // left: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 3000;
    // flex-direction: column;

    position: relative;
    max-width: 100vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    padding: 20px;
    overflow: auto;

    .imageContainer {
      max-width: 100%;
      height: auto;
      position: relative;
      background-color: #ead3b9;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .leftIcon,
      .rightIcon {
        font-size: 24px;
        // margin: 10px;
        color: #6b5199;
      }

      .closeButtonContainer {
        position: absolute;
        width: 60px;
        height: 64px;
        top: 0;
        right: 0;
        padding: 16px 14px;
        border-radius: 50%;
        border: 1px solid #ead3b9;
        background-color: rgba(234, 211, 185, 0.2);
      }

      .closeButton {
        font-size: 32px;
        color: #6b5199;
      }
    }

    .innerModalDesktopContainer {
      display: none;
    }

    .innerModalDesktopHistoryContainer {
      display: none;
    }

    .innerModalDesktopNameContainer {
      display: none;
    }

    .innerModalContainer {
      max-width: 100%;
      height: auto;
      background: white;
      padding: 20px;
      border-radius: 4px;
      max-width: 500px;
      width: 100%;
      display: grid;
      place-items: center;
      gap: 8px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;

      & h2 {
        color: $button-default;
        justify-self: flex-start;
      }

      & h3 {
        justify-self: flex-start;
        color: #000;
      }

      .innerModalButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
      }
    }

    .actionButtonTransparent {
      display: flex;
      width: 270px;
      padding: 11px 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $button-dark-default;
      transition: background-color, color 0.5s ease-in-out;

      &:hover,
      &:focus {
        background-color: $button-dark-hover;
        color: #fff;
      }
    }

    .actionButtonBackground {
      display: flex;
      width: 270px;
      padding: 11px 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $button-dark-default;
      background-color: $button-dark-default;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;

      &:hover,
      &:focus {
        background-color: $button-dark-hover;
      }
    }
  }

  .adoptionModalContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 3000;
    flex-direction: column;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    // transform: translateY(50%);

    .adoptionModalHeading {
      color: $button-default;
    }

    .adoptionModalForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;

      .adoptionModalInput {
        padding: 12px 8px 13px 8px;
        border: 1px solid #141414;
        border-radius: 8px;
      }

      .adoptionModalText {
        text-align: center;
      }

      .adoptionModalText > span {
        color: $button-default;
      }

      .adoptionModalErrorText {
        color: red;
      }
    }
    .actionButtonTransparent {
      display: flex;
      width: 270px;
      padding: 11px 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $button-dark-default;
      transition: background-color, color 0.5s ease-in-out;

      &:hover,
      &:focus {
        background-color: $button-dark-hover;
        color: #fff;
      }
    }

    .actionButtonBackground {
      display: flex;
      width: 270px;
      padding: 11px 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $button-dark-default;
      background-color: $button-dark-default;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;

      &:hover,
      &:focus {
        background-color: $button-dark-hover;
      }
    }

    .adoptionModalButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    gap: 0;
    row-gap: 30px;
    padding-right: 0;

    .cardContainer {
      width: 343px;
      grid-auto-rows: min-content;

      .cardName {
        width: 0;
        min-width: 280px;
        width: 100%;
        padding: 26px 22px;
      }

      .contentHolder {
        gap: 4px;
        height: 273px;
        .cardDesc {
          max-width: 308px;
        }
        .cardButton {
          align-self: end;
          margin-top: auto;
          border-radius: 8px;
        }
      }
    }

    .modalContentContainer {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: auto;
      width: 100vw;
      height: 95dvh;
      position: fixed;
      left: 0px;
      top: 20px;
      z-index: 3000;
      overscroll-behavior-y: none;
    }

    .modalContainer {
      position: relative;
      // width: 625px;
      width: 90vw;
      padding: 16px;

      .innerModalContainer {
        // max-width: 625px;
        max-width: 90vw;
        align-items: center;
        justify-items: center;

        .innerModalButtons {
          display: flex;
          width: 493px;
          align-items: center;
          flex-direction: row;
          gap: 19px;
        }
      }

      .actionButtonBackground {
        width: fit-content;
        padding: 9px 12px;
        flex: 1 0 0;
        cursor: pointer;
      }

      .actionButtonTransparent {
        width: fit-content;
        padding: 9px 12px;
        flex: 1 0 0;
      }
    }

    .adoptionModalContainer {
      display: flex;
      width: 520px;
      padding: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    .adoptionModalButtons {
      display: flex;
      gap: 16px;
      align-self: stretch;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1200px) {
  .outerContainer {
    margin: 0 auto;
    // padding: 32px 64px;
  }

  .container {
    margin: 0 auto;
    max-width: 1850px;
    justify-content: center;

    .cardContainer {
      width: 370px;
      grid-auto-rows: min-content;

      .cardName {
        width: 0;
        min-width: 280px;
        width: 100%;
        padding: 26px 22px;
      }

      .contentHolder {
        height: 273px;
        .cardDesc {
          max-width: 308px;
        }
        .cardButton {
          align-self: end;
          margin-top: auto;
          border-radius: 8px;
        }
      }
    }

    .modalContainer {
      display: grid;
      grid-template-areas:
        'img desc'
        'his his';
      max-width: 1200px;

      .imageContainer {
        grid-area: img;

        .leftIcon,
        .rightIcon {
          background-color: whitesmoke;
          border-radius: 8px;
          margin: 10px;
        }

        .closeButtonContainer {
          display: none;
        }
      }

      .innerModalDesktopContainer {
        max-width: 90vw;
        align-items: center;
        justify-items: center;
        max-width: 100%;
        height: auto;
        background: white;
        padding: 20px;
        border-radius: 0 4px 4px 0;
        width: 100%;
        display: grid;
        place-items: center;
        gap: 6px;
        grid-area: desc;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;

        .innerModalDesktopNameContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .closeButtonContainer {
            font-size: 52px;
            border-radius: 50%;
            border: 1px solid #ead3b9;
            background-color: rgba(234, 211, 185, 0.2);
          }

          & h2 {
            color: $button-default;
            justify-self: flex-start;
            font-size: 44px;
            font-weight: 700;
          }
        }

        .innerModalButtons {
          display: flex;
          justify-content: stretch;
          align-items: center;
          flex-direction: row;
          width: 100%;
          max-width: 470px;
          gap: 8px;
        }
      }

      .innerModalDesktopHistoryContainer {
        grid-area: his;
        align-items: center;
        justify-items: center;
        background: white;
        padding: 20px;
        border-radius: 0 4px 4px 0;
        width: 100%;
        display: grid;
        place-items: center;
        gap: 8px;

        & h3 {
          justify-self: center;
          color: #000;
          font-size: 28px;
          font-weight: 500;
        }
      }

      .innerModalContainer {
        display: none;
      }
    }
  }
}
