@import './colors.scss';

// Mixins
@mixin font-styles($font-weight, $font-size) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

// Typography for Mobile
.h1 {
  @include font-styles(800, 36px);
  font-family: $font-family-heading;
}

.subtitle1,
.button1 {
  @include font-styles(700, 20px);
}

.subtitle2,
.button2 {
  @include font-styles(700, 18px);
}

.text1 {
  @include font-styles(500, 18px);
}

.text2 {
  @include font-styles(500, 16px);
}

.text3 {
  @include font-styles(400, 14px);
}

.body {
  @include font-styles(300, 16px);
  letter-spacing: 0%;
}

// Typography for Desktop
@media (min-width: 768px) {
  .h1 {
    @include font-styles(800, 59px);
    font-family: $font-family-heading;
  }

  .h2 {
    @include font-styles(700, 48px);
  }

  .h3,
  .subtitle1,
  .subtitle2,
  .btn1,
  .button1 {
    @include font-styles(700, 28px);
  }

  .body,
  .p {
    @include font-styles(400, 24px);
    letter-spacing: 0%;
  }

  .btn2,
  .button2 {
    @include font-styles(800, 18px);
  }
}
