@import "../../../../../variables.module.scss";
@import "../../../../../colors.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3.33% 0 3.33%;
  flex-direction: column;
  align-items: center;
  background-color: $bg-lightgray;
  gap: 8px;
  color: $text-dark;
  width: 100%;

  .teamTitle {
    display: flex;
    gap: 2.19%;
    padding: 0 1.46% 14px 1.46%;
    margin-top: 16px;
    align-items: center;
    width: 100%;

    .photoTitle {
      min-width: 50px;
    }

    .phoneTitle {
      width: 65.76%;
    }
  }

  .teamLine {
    display: flex;
    flex-direction: row;
    gap: 2.25%;
    padding: 1.46%;
    overflow: hidden;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
  }

  .photoContainer {
    flex-shrink: 0;
    flex-shrink: 0;
    width: clamp(50px, 4.32%, 200px);
  }

  .photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }

  .fullnameTitle {
    width: 21.86%;
  }

  .fullname {
    width: 22.21%;
  }

  .phone {
    width: 59.29%;
  }

  .iconsContainer {
    width: 6.92%;
    display: flex;
    gap: 15.79%;
    text-align: center;
    flex-shrink: 0;
  }

  .create_icon {
    cursor: pointer;
  }

  .trash_icon {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.85);
  }

  .icon_disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(50%);
    pointer-events: none;
  }
}

@media screen and (max-width: 1439px) {
  .teamLine,
  .teamTitle {
    width: clamp(632px, 100%, 100%);
  }

  .photoTitle,
  .phoneTitle,
  .fullnameTitle {
    font-size: clamp(0.813rem, calc(0.813vw + 0.8vh), 1.25rem);
  }

  .fullname,
  .phone {
    font-size: clamp(0.813rem, calc(0.75vw + 0.8vh), 1.25rem);
  }

  .create_icon,
  .trash_icon {
    font-size: clamp(1rem, calc(1rem + 0.7vh), 2rem);
  }
}

@media screen and (width: 1440px) {
  .container {
    padding: 0 48px 8px 48px;
    gap: 8px;

    .teamTitle {
      gap: 24px;
      width: 1066px;
      padding: 0px 16px 14px 16px;

      .photoTitle {
        width: 50px;
      }
    }

    .teamLine {
      gap: 24px;
      padding: 16px;
      width: 1066px;
    }

    .fullnameTitle {
      width: 235px;
    }

    .photoContainer {
      width: 46px;
    }

    & .fullname {
      width: 240px;
    }
    & .phone {
      width: 632px;
    }

    .iconsContainer {
      width: 76px;
    }

    .create_icon,
    .trash_icon {
      font-size: 32px;
    }
  }
}

@media screen and (min-width: 1441px) {
  .photoTitle,
  .phoneTitle,
  .fullnameTitle,
  .phone,
  .fullname {
    font-size: clamp(1.25rem, calc(1.25vw + 0.4vh), 1.75rem);
  }

  .create_icon,
  .trash_icon {
    font-size: clamp(2rem, calc(1.5vw + 0.6vh), 2.5rem);
  }
}

@media screen and (min-width: 1920px) {
  .phone {
    font-size: clamp(1.9rem, calc(1.75vw + 0.4vh), 2.6rem);
  }

  .photoTitle,
  .phoneTitle,
  .fullnameTitle,
  .phone,
  .fullname {
    font-size: clamp(1.75rem, calc(1.25vw + 0.3vh), 2.2rem);
  }

  .create_icon,
  .trash_icon {
    font-size: clamp(2.5rem, calc(2.5vw + 0.6vh), 3rem);
  }
}
