@import "../../../../variables.module.scss";
.container {
  display: flex;
  align-self: start;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $button-dark-active;
  padding: 0 48px;
  min-height: 88px;
  width: 100%;

  & .icon {
    cursor: pointer;
    justify-self: end;
    font-size: 40px;
  }
  & .greeting {
    color: $button-default;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%
  }
  & .user {
    cursor: pointer;
    @extend .greeting;
    color: $button-dark-active;
    font-weight: 500;
    text-align: center;
  }
  & .info {
    display: flex;
    gap: 16px;
  }
}
