@import '../../../app/[locale]/variables.module.scss';

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  // padding: 0 48px 0 48px;

  & .searchContainerWrapper {
    width: 100%;
    grid-area: s;
    position: relative;
  }

  & .searchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 48px 0 48px;
    margin-top: 24px;
    width: 100%;
    grid-area: s;
  }

  & .search {
    width: 100%;
    outline: none;
    height: 48px;
    padding: 12.5px 8px 12.5px 8px;
    border-radius: 8px;
    border: 1px solid $text-dark;

    &::placeholder {
      color: $text-gray;
      font-size: 18px;
      font-weight: 500;
      line-height: 23.4px;
    }
  }

  & .select {
    padding: 12.5px 8px 12.5px 8px;
    border-radius: 8px;
    border: 1px solid $text-dark;
    height: 48px;
  }

  & .icon {
    // cursor: pointer;
    position: relative;
    font-size: 24px;
    left: calc(100% - 48px);
    top: -37px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-areas:
      's s s s s s c'
      'm m m m m m m';
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    width: 100%;

    & .searchContainer {
      padding: 0;
    }

    & .select {
      grid-area: c;
    }
  }
}

.singleContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  // padding: 0 48px 0 48px;

  & .searchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 48px 0 48px;
    margin-top: 24px;
    width: 100%;
    grid-area: s;
  }

  & .search {
    width: 100%;
    outline: none;
    height: 48px;
    padding: 12.5px 8px 12.5px 8px;
    border-radius: 8px;
    border: 1px solid $text-dark;

    &::placeholder {
      color: $text-gray;
      font-size: 18px;
      font-weight: 500;
      line-height: 23.4px;
    }
  }

  & .select {
    padding: 12.5px 8px 12.5px 8px;
    border-radius: 8px;
    border: 1px solid $text-dark;
    height: 48px;
  }

  & .icon {
    // cursor: pointer;
    position: relative;
    font-size: 24px;
    left: calc(100% - 48px);
    top: -37px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .singleContainer {
    display: grid;
    grid-template-areas:
      's s s s s s s'
      'm m m m m m m';
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    width: 100%;

    & .searchContainerWrapper {
      width: 100%;
      grid-area: s;
      position: relative;
    }

    & .searchContainer {
      padding: 0;
    }

    & .select {
      grid-area: c;
    }
  }
}
