@import "@/app/[locale]/colors.scss";
@import "@/app/[locale]/variables.module.scss";


.container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: fixed;
    right: 30px;
    bottom: 400px;
    background-color: $button-default;
    height: 60px;
    width: 60px;
    border-radius: 50%;
        & .icon {
            transform: rotate(180deg);
            font-size: 20px;
        }
        &:hover {
            background-color: $button-hover;
        }
        &:active {
            background-color: $button-active;
        }
}

.scrollToTopButton {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scrollToTopButton.visible {
    opacity: 1;
  }