@import "@/app/[locale]/colors.scss";
@import "@/app/[locale]/variables.module.scss";


.container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: fixed;
    background-color: $button-hover; 
    border-radius: 50%;
    

    @media screen and (min-width: 320px) and (max-width: 834px) {
        height: 40px;
        width: 40px;
        right:24px;
        bottom: 10px;
            & .iconDesk {
                display: none;
            }
    }
    @media screen and (min-width: 835px) and (max-width: 1440px) {
        height: 64px;
        width: 64px;
        right:24px;
        bottom: 10px;
            & .iconMob {
                display: none;
            }            
    }

    @media screen and (min-width: 1441px){
        height: 64px;
        width: 64px;
        right:40px;
        bottom: 10px;
            & .iconMob {
                display: none;
            }
    }
    box-shadow: 2px 4px 6px 0px rgba(24, 24, 24, 0.10);
        &:hover {
            background-color: $button-default;
        }
        &:active {
            background-color: $button-active;
        }

}
.scrollBtnMargin {
    @extend .container;
    position: absolute;

        @media screen and (min-width: 320px) and (max-width:768px) {
            right: 24px;
            bottom: 648px;
        }
        @media screen and (min-width: 789px) and (max-width: 1199px) {
            right: 24px;
            bottom: 624px;
        }
        @media screen and (min-width: 1200px) and (max-width: 1440px) {
            right: 24px;
            bottom: 339px;
        }
        @media screen and (min-width: 1441px){
            right: 40px;
            bottom: 339px;
        }   
}




.scrollToTopButton {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scrollToTopButton.visible {
    opacity: 1;
  }