.hero {
  background-image: url(../../../public/assets/images/main/main-image-mob.jpg);
  background-repeat: no-repeat;
  // background-position: center;
  background-size: contain;
  background-color: #eadeff;

  width: 320px;
  height: 298px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 208px;

  text-align: center;

  @media screen and (min-width: 1444px) {
    background-image: url(../../../public/assets/images/main/main-image-desk.jpg);
    background-size: cover;

    min-width: 1444px;
    height: 673px;
    padding: 64px 52px 740px 1011px;
  }

  &Title {
    font-family: "Roboto Flex", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: calc(46.8 / 36);
    text-transform: capitalize;

    color: #ff8c0c;
  }
}
