.hero {
  background-image: url(../../../public/assets/images/main/main-image-mob.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #eadeff;

  margin: 0 auto;
  padding-bottom: 208px;

  text-align: center;

  @media screen and (min-width: 375px) {
    background-image: url(../../../public/assets/images/main/main-image-768.jpg);
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../../public/assets/images/main/main-image-1200.jpg);
    background-size: cover;
    height: 600px;
  }

  @media screen and (min-width: 1440px) {
    background-image: url(../../../public/assets/images/main/main-image-desk.jpg);

    max-width: 1440px;
    padding: 64px 52px 740px 1011px;
  }

  &Title {
    font-family: "Roboto Flex", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: calc(46.8 / 36);
    text-transform: capitalize;

    color: #ff8c0c;

    @media screen and (min-width: 768px) {
      // font-size: 24px;
      // text-align: right;
    }
  }
}
