@import "../../../app/[locale]/colors.scss";

.hero {
  position: relative;
  background-color: #eadeff;

  &Title {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;

    text-align: center;
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-weight: 800;

    line-height: $line-height;
    text-transform: capitalize;
    letter-spacing: 0;

    color: $button-active;

    @media screen and (min-width: 768px) {
      top: 20px;
      font-size: 46px;
    }

    @media screen and (min-width: 1200px) {
      right: 52px;
      top: 54px;
      left: auto;

      color: $button-default;
    }

    @media screen and (min-width: 1440px) {
      top: 64px;
      font-size: 56px;
      letter-spacing: 1.12px;
    }
  }
}

.mobImage {
  object-fit: cover;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.tabImage {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    object-fit: cover;
    background-position: top;
  }
}

.deskImage {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    object-fit: cover;
    background-position: top;
  }
}
