@import '../../../app/[locale]/variables.module.scss';

.container {
    //max-width: 320px;
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: $bg-white;
        
    @media screen and (min-width: 768px) {
        min-width: 768px;
        padding: 32px 64px;
        gap: 20px;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1440px) {
        min-width: 1440px;
        padding-top: 48px;
        padding-bottom: 48px;
        gap: 32px;
        flex-wrap: wrap;
    }

        & .titleBlock{
            width: 100%;
            text-align: center;
            border: 0.5px solid red;
                
        @media screen and (min-width: 768px){
            width: 84.65%;
        }
        @media screen and (min-width: 1440px){
            width: 81.25%;
        }
        }

        & .cardBlock{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            gap: 8px;
            border: 0.5px solid red;


            @media screen and (min-width: 768px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 120px 120px;
                justify-content: center ;
                width: 84.65%;
                grid-gap: 20px;
            }
            @media screen and (min-width: 1440px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 161px 161px;
                justify-content: center ;
                width: 81.25%;
                grid-gap: 30px;
            }

                & .cardItem {
                    display: flex;
                    gap: 16px;
                    //min-height: 80px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: $bg-purple;
                    border-radius: 4px;


                    @media screen and (min-width: 768px){
                        min-height: 120px;
                        border-radius: 8px;
                    }
                    @media screen and (min-width: 1440px){
                        min-height: 161px;
                    }

                     
                        & .message {
                            color: $text-dark;
                            // padding-left: 12px;
                            // padding-right: 12px;

                            @media screen and (min-width: 768px){
                            line-height: 26px;
                            }
                            @media screen and (min-width: 1440px){
                                line-height: 31.2px;
                            }
                        }
                }

        }
        & .allActivities {
            display: flex;
            justify-content: center;
            background-color: $button-default;
            color: $text-dark;
            line-height: 23.4px;
            text-decoration: none;
            border-radius: 4px;
            min-width: 288px;
            height: fit-content;
            padding: 12px;
                &:hover {
                    background-color: $button-hover;
                }
                &:active {
                    color: $text-white;
                    background-color: $button-active;
                }
        
            @media screen and (min-width: 1440px) {
                min-width: 370px;
                line-height: 26px;
                padding-top: 15px;
                padding-bottom: 15px;
            }  
        }
        & .dark {
            background-color: $button-dark-default;
            color: $text-white;
                &:hover {
                    background-color: $button-dark-hover;
                }
                &:active {
                    color: $text-white;
                    background-color: $button-dark-active;
                }
        }
        @media screen and (min-width: 768px) {//768px ?
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

}