// Primary colors
$primary: #4d396f;
$primary-light: #6b5199;

// Button colors for light theme
$button-default: #ffa33c;
$button-hover: #f5ba78;
$button-active: #ff8c0c;
$button-loading: #ead3b9;
$button-disabled: #bebebe;

// Button colors for dark theme
$button-dark-default: #3a3345;
$button-dark-hover: #675d77;
$button-dark-active: #251c33;
$button-dark-loading: #b6abc7;
$button-dark-disabled: #bebebe;

// Text colors
$text-dark: #141414;
$text-white: #ffffff;
$text-gray: #a1a1a1;
$text-error: #D90000;

// Background colors
$bg-purple: #eadeff;
$bg-white: #ffffff;

// font-family
$font-family-heading: 'Roboto Flex', sans-serif;
$line-height: 1.3;
