@import './colors.scss';

// Mixins
@mixin font-styles($font-weight, $font-size) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

// Typography for Mobile
.h1 {
  @include font-styles(800, 36px);
  font-family: $font-family-heading;
}

.subtitle1,
.button1,
.quickSubtitle1 {
  @include font-styles(700, 20px);
}

.achievSubtitle2 {
  @include font-styles(700, 24px)
}

.subtitle2,
.button2 {
  @include font-styles(700, 18px);
}

.text1 {
  @include font-styles(500, 18px);
}

.text2 {
  @include font-styles(500, 16px);
}

.text3,
.quickText3,
.achievText3 {
  @include font-styles(400, 14px);
}

.quickButton2 {
  @include font-styles(800, 16px);
}

.body {
  @include font-styles(300, 16px);
  letter-spacing: 0%;
}

// Typography for tablet
@media (min-width: 768px) {
  .h1 {
    @include font-styles(800, 46px);
    font-family: $font-family-heading;
  }

  .h2,
  .achievSubtitle2 {
    @include font-styles(700, 32px);
  }

  .quickSubtitle1 {
    @include font-styles(700, 28px);
  }

  .h3,
  .subtitle1,
  .subtitle2 {
    @include font-styles(700, 24px);
  }

  .btn1,
  .button1 {
    @include font-styles(700, 20px);
  }

  .body,
  .p {
    @include font-styles(400, 20px);
    letter-spacing: 0%;
  }

  .achievText3 {
    @include font-styles(400, 16)
  }
  .btn2,
  .button2,
  .quickButton2 {
    @include font-styles(800, 16px);
  }

  .quickText3 {
    @include font-styles(400, 16px);
  }
}

// Typography for Desktop
@media (min-width: 1200px) {
  .h1 {
    @include font-styles(800, 59px);
    font-family: $font-family-heading;
  }

  .h2,
  .achievSubtitle2 {
    @include font-styles(700, 48px);
  }

  .h3,
  .subtitle1,
  .subtitle2,
  .btn1,
  .button1 {
    @include font-styles(700, 28px);
  }

  .body,
  .p {
    @include font-styles(400, 24px);
    letter-spacing: 0%;
  }

  .quickSubtitle1 {
    @include font-styles(700, 24px);
  }

  .achievText3 {
    @include font-styles(400, 20px);
  }

  .quickText3 {
    @include font-styles(300, 16px);
  }

  .btn2,
  .button2,
  .quickButton2 {
    @include font-styles(800, 18px);
  }
}
