.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 135px;
    padding-right: 135px;
  }
}

.mission {
  padding: 24px 0;
  text-align: right;

  color: var(--text-dark, #141414);

  @media screen and (min-width: 1440px) {
    padding: 48px 0;
  }

  &Title {
    font-size: 24px;
    font-weight: 700;
    line-height: calc(31.2 / 24);

    text-align: center;

    margin-bottom: 16px;

    @media screen and (min-width: 1440px) {
      font-size: 44px;
      margin-bottom: 32px;
    }
  }

  &Text {
    font-size: 16px;
    font-weight: 300;
    line-height: calc(20.8 / 16);

    text-align: center;

    margin-bottom: 16px;

    @media screen and (min-width: 1440px) {
      font-size: 24px;
      margin-bottom: 32px;
    }
  }

  &Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 800;
    line-height: calc(20.8 / 16);
    font-family: inherit;

    margin-bottom: 16px;

    border: transparent;
    background-color: transparent;

    cursor: pointer;

    transition: color 250ms linear;

    @media screen and (min-width: 1440px) {
      font-size: 18px;
      margin-bottom: 32px;
    }
  }

  &Button:hover,
  &Button:focus {
    color: #ffa33c;
  }

  &ButtonIcon {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    fill: currentColor;
  }
}
