@import '../../app/[locale]/colors.scss';
@import '@/app/[locale]/variables.module.scss';

@mixin button-style() {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.header-primary-button-default {
  display: none;
}

.primary-dark-W-288 {
  @include button-style;
  min-width: 288px;
  background-color: $button-dark-default;
  color: white;
}

.button-help {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-styles(700, 18px);
  background-color: $button-default;
  min-width: 270px;
  max-width: 288px;
  padding: 12px;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: $button-hover;
  }
}

.primary-lite-W-288 {
  @include button-style;
  min-width: 288px;
  background-color: $button-default;
  color: #141414;
  grid-area: button;
}

@media screen and (min-width: 1200px) {
  .header-primary-button-default {
    @include button-style;
    min-width: 170px;
    background-color: $button-default;

    transition: background-color 0.4s ease;
  }

  .header-primary-button-default:hover {
    background-color: $button-hover;
  }

  .button-help {
    @include font-styles(700, 20px);
    min-width: 288px;
  }

  .button-help {
    @include font-styles(700, 20px);
    min-width: 288px;
  }
}

.primary-dark {
  @include button-style;
  min-width: 270px;
  max-width: 288px;
  min-height: 44px;
  max-height: 52px;
  background-color: $button-dark-default;
}

.support {
  @extend .primary-dark;
  padding: 10.5px 12px;
  min-width: 256px;
  margin-top: 16px;
  line-height: 23.5px;
  color: $text-white;
    &:hover {
      background-color: $button-dark-hover;
    }
    &:active {
      background-color: $button-dark-active;
    }
}
@media screen and (min-width: 768px) {
  .support {
    min-width: 270px;
    margin-top: 16px;
    min-height: 52px;
    line-height: 26px;
  }
}

.rescue {
  @extend .support;
  min-width: 288px;
  max-height: 44px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .rescue {
    padding: 9px 12px;
  }
}
@media screen and (min-width: 1200px){
  .rescue {
    min-width: 370px;
    min-height: 52px;
    padding: 12px;
  }
}


