@import "../../../../../colors.scss";

.selectorBlock {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 169px;
  align-items: center;
  position: relative;

  .iconContainer {
    display: flex;
    justify-content: center;
    width: 24px;
  }

  .icon {
    width: 13px;
    height: auto;
    cursor: pointer;
  }
}

.selectedCategoryBlock {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dropdownContent {
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid $button-active;
  background: $bg-white;
  min-width: 129px;
}

.defaultCategory {
  cursor: pointer;
  color: $button-default;
}

.category {
  text-align: left;
  cursor: pointer;
}

.activeCategory {
  background-color: $button-loading;
}
