@import '../../../app/[locale]/colors.scss';

.socIcons {
  margin: 5px;
  font-size: 30px;

  color: #a1a1a1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  background-color: $button-dark-default;
  padding: 16px 16px 40px 16px;
  gap: 32px;
  position: relative;
}

.logo {
  font-size: 100px;
}

.brandHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.brandHolderLogo {
  font-size: 60px;
  margin-bottom: 16px;
}

.brandHolderName {
  color: $button-default;
}

.navMenu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-wrap: nowrap;
  p,
  a {
    color: #fff;
    cursor: pointer;
  }

  @media (hover: none) {
    p:active,
    a:active {
      color: $button-default;
    }
  }

  @media (hover: hover) {
    p,
    a {
      transition: color 0.4s ease-in-out;
    }
    p:hover,
    a:hover {
      color: $button-default;
    }
  }
}

.navMenuInnerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.navMenuInnerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 10px;
  text-align: center;

  & > li > a {
    color: $text-gray;
  }
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 4px;
  }

  .contactsContainerTelephones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.line {
  display: none;
}

.contactsContainerIcons {
  display: none;
}

.socialIconsHolderDesktop {
  display: none;
}

.arrowDownIcon {
}

.signature {
  color: $text-gray;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  position: absolute;
  bottom: 8px;
  justify-self: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 56px 9.375%;
    display: grid;
    place-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    grid-template-areas:
      'logo contactsContainer navMenu navMenu button'
      'logo contactsContainer navMenu navMenu button';
  }

  .logo {
    font-size: 100px;
  }

  .buttonAndIconsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    grid-area: button;
  }

  .brandHolder {
    grid-area: logo;
  }

  .brandHolderLogo {
    font-size: 100px;
  }

  .brandHolderName {
    display: none;
  }

  .navMenu {
    grid-area: navMenu;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    border-left: 2px solid $button-default;
    // padding-left: 60%;

    & ul {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 16px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 150px;
      padding-left: 30%;
    }

    @media screen and (min-width: 1440px) {
      padding-left: 45%;
    }

    @media screen and (min-width: 1600px) {
      padding-left: 60%;
      min-width: 200px;
    }
  }

  .navMenuLI {
    display: none;
  }

  .buttonAndIconsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .socialIconsHolderDesktop {
    display: block;
  }

  .socialIconsHolderMobile {
    display: none;
  }

  .contactsContainer {
    grid-area: contactsContainer;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-right: 30px;
  }

  .contactsContainerIcons {
    display: block;
    font-size: 40px;
  }

  @mixin flex-center($gap: 10px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $gap;
  }

  .contactsContainerHolder {
    @include flex-center;
  }

  .contactsContainerEmail {
    @include flex-center;
  }

  .contactsContainerLocation {
    @include flex-center;
  }
}
