@import '../../../app/[locale]/colors.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  background-color: $button-dark-default;
  padding: 16px 16px 8px 16px;
  gap: 32px;
}

.brandHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brandHolderLogo {
  font-size: 60px;
  margin-bottom: 16px;
}

.brandHolderName {
  color: $button-default;
}

.navMenu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navMenu {
  & a,
  span {
    color: #fff;
    text-decoration: none;
  }
}

.navMenuInnerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.navMenuInnerMenu > svg {
  color: #fff;
}

.navMenuInnerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 10px;
}

.navMenuInnerList > li > a {
  color: $text-gray;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactsContainer > a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 4px;
}

.signature {
  color: $text-gray;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
